          {% assign cnt_27x40 = 0 %}
          {% for line_item in cart.items %}
          {% if line_item.product.type == 'poster' or line_item.product.type == 'Poster' %}
          {% if line_item.product.tags contains "dimensions--27x40" %}
          {% if line_item.properties["_custom_finish"] == blank %}
          {% assign cnt_27x40 =  cnt_27x40 | plus:  1  %}
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
         {% assign back_lit = 0 %}
          {% for line_item in cart.items %}
          {% if line_item.product.handle == 'backlit'  %}
           {% assign back_lit =  back_lit | plus:  1  %}
          {% endif %}
          {% endfor %}


{% if section.settings.enable_section %}
  {% assign collection = collections[section.settings.collection] %}

  <div class="addon" data-addon>
    <div class="addon__header">
      <h3 data-addon-trigger><span class="icon icon-add-16"></span> {{ section.settings.section_title }}</h3>
      <p>{{ section.settings.section_content }}</p>

      <div class="addon__items grid grid-uniform">
        {% for product in collection.products %}
          {% include 'collection-item-addon' %}
        {% endfor %}
       
 
           {% assign feature_image = all_products["backlit"].featured_image   %}
              {%- capture picture_sources %}
  			  {% include 'component-source',
              source_media: '(max-width: 767px)',
              source_image_1x: feature_image,
              source_size_1x: '96x',
              source_image_2x: feature_image,
              source_size_2x: '192x'
              %}
              {% include 'component-source',
              source_image_1x: feature_image,
              source_size_1x: '112x',
              source_image_2x: feature_image,
              source_size_2x: '224x'
              %}
              {% endcapture %}
        
         
        
              {% if back_lit < 1 and cnt_27x40 > 0 %}
              <div class="addon-item backlit_sub_sub grid__item all--12 large-up--12">

                <div  class="line-item__image backlit  grid__item large-up--2 small-up--2">
                  {% include 'component-picture',
                  sources: picture_sources,
                  resource: feature_image,
                  default_size: '112x',
                  alt: {{ all_products["backlit"].title }}
                  %}
                </div>



                <div class="grid__item large-up--10 small-up--8">

                  <div class="line-item__content  grid__item large-up--6">
                    <h3 class="marg_zero"> {{ "Add a Back Lit LED Frame?" }}</h3>
                    <p class="marg_zero">Slim profile and perfect for your Home Theatre</p>
                    <p>{{ all_products["backlit"].price | money_with_currency }}</p>
                  </div>

                  <div class="line-item__content mob_hide  grid__item large-up--6">
                    <input type="hidden" name="id" class="crt__backlit" value="{{ all_products["backlit"].first_available_variant.id }}" data-product-selected-variant>


                


                    {% if all_products["backlit"].available %}
                    <button type="submit" name="add" class="pdp__submit btn_backlit btn btn--primary" data-add-to-cart>
                      <span data-add-to-cart-text> {{ 'products.product.add_to_cart' | t }}</span>
                    </button>

                    {% else %}  
                    <div class="pdp__unavailable">
                      <button type="button" name="add" class="pdp__submit btn btn--primary">
                        <span data-add-to-cart-text>{{ 'products.product.sold_out' | t }}</span>
                      </button>

                      <div class="pdp__unavailable-form">
                        <input type="email" data-notify-email placeholder="Enter Email Address" />
                        <button class="btn btn--primary" data-notify-button type="submit">Notify Me</button>
                      </div>
                      <span class="pdp__unavailable-message hide" data-notify-message></span>
                    </div>
                    {% endif %}
                    
                    <div class="line-item__qty cart_back_qty">
                      {% include 'quantity-selector-back',
                  	  id: all_products["backlit"].first_available_variant.id,
                      quantity: 1
                      %}
                    </div>
                    
                  </div>

                </div>

                <div class="line-item__content mob_show  grid__item large-up--4">
                  <input type="hidden" name="id" class="crt__backlit" value="{{ all_products["backlit"].first_available_variant.id }}" data-product-selected-variant>





                  {% if all_products["backlit"].available %}
                  <button type="submit" name="add" class="pdp__submit btn_backlit btn btn--primary" data-add-to-cart>
                    <span data-add-to-cart-text> {{ 'products.product.add_to_cart' | t }}</span>
                  </button>

                  {% else %}  
                  <div class="pdp__unavailable">
                    <button type="button" name="add" class="pdp__submit btn btn--primary">
                      <span data-add-to-cart-text>{{ 'products.product.sold_out' | t }}</span>
                    </button>

                    <div class="pdp__unavailable-form">
                      <input type="email" data-notify-email placeholder="Enter Email Address" />
                      <button class="btn btn--primary" data-notify-button type="submit">Notify Me</button>
                    </div>
                    <span class="pdp__unavailable-message hide" data-notify-message></span>
                  </div>
                  {% endif %}

                  <div class="line-item__qty cart_back_qty">
                    {% include 'quantity-selector-back',
                  	  id: all_products["backlit"].first_available_variant.id,
                    quantity: 1
                    %}
                  </div>

                </div>



              </div>
             
              {% endif %}
        
       
        
        
      </div>
    </div>
  </div>
{% endif %}