{% if iwish_v2 == 'iwishlink' %}
	<a class="iWishView" href="/apps/iwish">
              <div class="image nav-icon w-embed"><svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M44.7846 12C46.1141 14.3028 45.5076 17.1921 43.47 18.783C46.0301 19.142 48 21.3409 48 24C48 26.659 46.03 28.858 43.47 29.217C45.5075 30.8079 46.1141 33.6972 44.7846 36C43.4551 38.3028 40.6496 39.2221 38.253 38.253C39.2221 40.6496 38.3028 43.4551 36 44.7846C33.6972 46.1141 30.8079 45.5076 29.217 43.47C28.8579 46.0301 26.659 48 24 48C21.341 48 19.142 46.0301 18.783 43.47C17.1921 45.5076 14.3028 46.1141 12 44.7846C9.69722 43.4551 8.77786 40.6496 9.74696 38.253C7.35038 39.2221 4.54493 38.3028 3.21542 36C1.8859 33.6972 2.49246 30.8079 4.53005 29.217C1.96995 28.858 -1.75127e-05 26.659 -1.73964e-05 24C-1.72802e-05 21.3409 1.96993 19.142 4.53 18.783C2.49243 17.1921 1.88588 14.3028 3.21539 12C4.54491 9.69718 7.35041 8.77783 9.74701 9.74697C8.77789 7.35039 9.69725 4.5449 12 3.21539C14.3028 1.88589 17.1921 2.49242 18.783 4.52995C19.1421 1.96991 21.341 0 24 0C26.659 0 28.858 1.96995 29.217 4.53002C30.8079 2.49242 33.6972 1.88585 36 3.21538C38.3028 4.54489 39.2222 7.35037 38.253 9.74695C40.6496 8.77784 43.4551 9.6972 44.7846 12Z" fill="white"></path>
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M16.3893 17.4151C18.2416 15.5283 21.2449 15.5283 23.0972 17.4151L24 18.3347L24.9028 17.4151C26.7551 15.5283 29.7584 15.5283 31.6107 17.4151C33.4631 19.3019 33.4631 22.361 31.6107 24.2478L24 32L16.3893 24.2478C14.5369 22.361 14.5369 19.3019 16.3893 17.4151Z" stroke="#432741" stroke-linecap="round"></path>
                </svg>
              </div>
      
<!--        (<span class="iWishCount">0</span>) -->
    </a>
{% elsif iwish_v2 == 'iwishproduct' %}
<div class="iwishAddWrap product-iwisdh">
			<a class="iWishAdd" href="#" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
                <div class="image collection-list-heart w-embed custom_margin">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path>
                    <path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path>
                  </svg>
                </div>         
    		 </a>
	{% unless customer %}<p class="iWishLoginMsg" style="display: none;">Your wishlist has been temporarily saved. Please <a href="/account/login">Log in</a> to save it permanently.</p>{% endunless %}
</div>

{% elsif iwish_v2 == 'iwishCollection' %}
	<a class="iWishAddColl iwishcheck custom-iwish" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}">
         <div class="image collection-list-heart w-embed">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path>
                  <path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path>
                </svg>   
              </div>
    </a>
{% elsif iwish_v2 == 'iwishfooter' %}

<script type="text/javascript">
var iwish_shop = "{{ shop.permanent_domain }}";
var iwish_pro_template = {% if template contains 'product' %}true{% else %}false{% endif %};
var iwish_cid = "{{ customer.id }}";
//Add to Wishlist - Product Page Text
var iwish_added_txt = '<div class="image collection-list-heart w-embed"> <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path><path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path></svg></div>';
var iwish_add_txt = '<div class="image collection-list-heart w-embed"> <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path><path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path></svg></div>';
//Add to Wishlist - Collection Page Text
var iwish_added_txt_col = '<div class="image collection-list-heart w-embed"> <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path><path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path></svg></div>';
var iwish_add_txt_col = '<div class="image collection-list-heart w-embed"> <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="icon-bg icon-wishlist" fill-rule="evenodd" clip-rule="evenodd" d="M37.3205 9.99999C38.4284 11.919 37.923 14.3267 36.225 15.6525C38.3584 15.9517 40 17.7841 40 20C40 22.2159 38.3584 24.0483 36.225 24.3475C37.923 25.6732 38.4284 28.081 37.3205 30C36.2126 31.919 33.8747 32.6851 31.8775 31.8775C32.6851 33.8747 31.919 36.2126 30 37.3205C28.081 38.4284 25.6733 37.923 24.3475 36.225C24.0483 38.3584 22.2159 40 20 40C17.7841 40 15.9517 38.3584 15.6525 36.225C14.3267 37.923 11.919 38.4284 9.99999 37.3205C8.081 36.2126 7.31487 33.8747 8.12247 31.8775C6.12531 32.6851 3.78741 31.919 2.67948 30C1.57155 28.081 2.07702 25.6732 3.77501 24.3475C1.64162 24.0483 -9.68585e-08 22.2158 0 20C9.6858e-08 17.7841 1.64161 15.9517 3.77499 15.6525C2.07701 14.3267 1.57155 11.919 2.67948 9.99999C3.78741 8.081 6.12531 7.31487 8.12246 8.12247C7.31486 6.12531 8.08099 3.78741 9.99998 2.67948C11.919 1.57155 14.3267 2.07702 15.6525 3.77502C15.9517 1.64162 17.7841 0 20 0C22.2159 0 24.0483 1.64161 24.3475 3.77498C25.6733 2.07701 28.081 1.57155 30 2.67948C31.919 3.78741 32.6851 6.12531 31.8775 8.12247C33.8747 7.31487 36.2126 8.081 37.3205 9.99999Z" fill="#EBEBEC"></path><path class="icon-path transparent" fill-rule="evenodd" clip-rule="evenodd" d="M13.2349 15.2382C14.8814 13.5873 17.551 13.5873 19.1975 15.2382L20 16.0428L20.8025 15.2382C22.449 13.5873 25.1186 13.5873 26.7651 15.2382C28.4116 16.8891 28.4116 19.5659 26.7651 21.2168L20 28L13.2349 21.2168C11.5884 19.5659 11.5884 16.8891 13.2349 15.2382Z" fill="#EBEBEC" stroke="#432741" stroke-width="2" stroke-linecap="round"></path></svg></div>';
//Quick View - Classes
//var iwish_qvButton = '.quick_view';
//var iwish_qvWrapper = '.reveal-modal';
</script>
<script type="text/javascript">
(function(){
function iWishLoadScript(e,t){for(var a=0;a<e.length;a++){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=e[a],document.getElementsByTagName("head")[0].appendChild(n),0==a&&(n.readyState?n.onreadystatechange=function(){"loaded"!==n.readyState&&"complete"!==n.readyState||(n.onreadystatechange=null,t())}:n.onload=function(){t()})}}
function asyncLoadshopapps(){
	var iWishUrls=["https://cdn.myshopapps.com/iwish/iwishlist_v2.js"];
	iWishLoadScript(iWishUrls, function() {
		jQuery("a[href='/apps/iwish']").click(function(e) {
		if(typeof(Storage) !== "undefined") {
			e.preventDefault();
			iWishPost('/apps/iwish',{iwishlist:JSON.stringify(iWishlistmain),cId:iwish_cid});
		}
		});
		jQuery(".iWishAdd").click(function() {
			var iWishvId = jQuery(this).parents(iwishWrapperClass).find(iWishVarSelector).val();
			iwish_add(jQuery(this), iWishvId);
			return false;
		});
		$(".iWishAddColl").on('click',function() {
			var iWishvId = jQuery(this).attr("data-variant");
			iwish_addCollection(jQuery(this),iWishvId);
			return false;
		});
      

      
	});
}
if (window.addEventListener){ window.addEventListener("load", asyncLoadshopapps, true); }
else if (window.attachEvent){ window.attachEvent("onload", asyncLoadshopapps); }
else { window.onload = asyncLoadshopapps; }
})();
</script>
{% endif %}
